@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
    /* 1rem = 10px / 16px = 62.5% */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

h1 {
    font-size: 4.8rem;
    text-align: center;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

pre {
    white-space: pre-line;
    text-align: start;
}

pre code {
    font-size: 1.6rem;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

ul {
    list-style: none;
}

li {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.6rem;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline;
}

hr {
    color: #fefefe;
    width: 100%;
    margin: 2rem 0;
}

time {
    font-size: 1.6rem;
}

figure {
    max-width: 54.5rem;
    max-height: 54.5rem;
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 70rem;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

header .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2rem 8rem;
    max-width: 54.5rem;
    gap: 2rem;
}

.contact li {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 18rem;
}

.summary .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.skills ul {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
}

.example {
    align-items: center;
    text-align: center;
}

.experience ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    gap: 2rem;
    justify-content: center;
}

.langauges ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    gap: 2rem;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}